.bootstrap-datetimepicker-widget.dropdown-menu {
  th, td {
    text-transform: capitalize;
    color: #212529;
    border: 0;

    &.disabled {
      color: #6c757d;
    }
  }

  thead tr:nth-child(1) th {
    font-size: 1rem;
    padding: 10px;
  }

  thead tr:nth-child(2) th {
    background: white;
    color: #6c757d;
    font-size: .75rem;
    padding: 15px 5px 10px;
  }

  td {
    border-radius: 0;
    font-size: 0.875rem;
    padding: 5px !important;
  }

  td.hour, td.minute {
    height: 42px;
    line-height: 42px;
  }

  .table-condensed {
    margin-top: 5px;

    td {
      height: 0 !important;
      padding: 0 !important;

      .btn, .timepicker-hour, .timepicker-minute {
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 0;
        height: 38px;
        line-height: 38px;
      }

      .btn {
        display: table-cell;

        span {
          border: 0;
          margin: 0;
          padding: 0;
          height: 0;
          line-height: 0;
        }
      }
    }
  }
}
